.App {
  text-align: center;
}

.App-header {
  background-color: #FFFFFF;
  min-height: 95px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Section{
  background-color: #17153B;
  width: 100%;
  height: 95px;
  text-align: left;
}

.Search{
  width: 40%;
  background-color: #FFFFFF;
  float: left;
  margin-left: 30px;
  margin-top: 15px;
  border-radius: 5px;
}

.Logo{
  width: 205px;
  height: auto;
  padding-left: 50px;
  margin-top: 32.5px;
  float: left;
}

.Section2{
  background-color: #2E236C;
  width: 100%;
  height: 70px;
}